# -------------------------------
# Python
# -------------------------------
__pycache__/
*.py[cod]
.pytest_cache/

# -------------------------------
# Virtual Environment
# -------------------------------
.venv/

# -------------------------------
# IDE
# -------------------------------
.idea/
.vscode/

# -------------------------------
# Test Artifacts
# -------------------------------
artifacts/
logs/

# -------------------------------
# Operating System
# -------------------------------
.DS_Store
Thumbs.db


# -------------------------------
# Environment File
# -------------------------------
.env